/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}

/* navbar styling */
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}
nav.sticky{
  background: #4070f4;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}
nav.sticky .navbar .logo a{
  color: #fff;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 16px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
  transition: transform 0.3s ease, color 0.3s ease; /* Adding transition effects */
  display: inline-block; /* Ensuring the anchor element behaves as a block element */
}
.navbar .menu a:hover{
  color: #4070f4;
  transform: scale(1.4); /* Scale the icon by 1.2 when hovered over */
}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  color: #0E2431;
}
.navbar .media-icons a {
  color: #4070f4;
  font-size: 25px;
  margin: 0 6px;
  transition: transform 0.3s ease, color 0.3s ease; /* Adding transition effects */
  display: inline-block; /* Ensuring the anchor element behaves as a block element */
}

.navbar .media-icons a:hover {
  transform: scale(1.5); /* Scale the icon by 1.2 when hovered over */
   /* Change the color to red when hovered over */
}
nav.sticky .media-icons a{
  color: #FFF;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #4070f4;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}

/* home section styling */
.home {
  position: relative; /* Ensure positioning context for absolute positioning */
  height: 100vh;
  width: 100%;
  background: url("Images/portfolio1.svg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.overlay-image {
  position: absolute;
  top: 55%; /* Adjust as needed */
  left: 65%; /* Adjust as needed */
  transform: translate(-50%, -50%) scale(.25);
  filter: drop-shadow(16px 35px 39px #4b789c);
}


.home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  font-size: 25px;
  color: #0E2431;
}
.home .text-two{
  color: #0E2431;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  margin-bottom: 30px;
}
.home .text-three{
  font-size: 40px;
  margin-bottom: 50px;
  color: #4070f4;
}
.home .text-four{
  font-size: 23px;
  margin: 5px 0;
  color: #0E2431;
}
.home .button{
  margin: 14px 0;
}
.home .button button{
  outline: none;
  padding: 10px 26px;
  border-radius: 6px;
  font-size: 22px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section{
  padding-top: 40px;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  width: 45%;
  height: 50%;
}
.about .left img{
  height: 500px;
  width: 300px;
  object-fit: contain;
  border-radius: 12px;
  transform: translateY(-40px);
}
.left {
  width: 400px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1.9s ease, opacity 1.7s ease;
}

.left img.active {
  transform: translateY(-40px) scale(1.3);
}
.about-details .right{
  width: 55%;
  margin-top: -100px;
}
.about-details .right p{
  text-align: justify;
  color: #0E2431;
}
section .button{
  margin-top: 50px;
}

section .topic {
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
}
section .button button{
  outline: none;
  padding: 10px 26px;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

 /* My Skills CSS */
 .skills {
  background: #e1eef9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  color:#4070f4;
}

.skills-list {
  display: flex;
  justify-content: space-evenly; /* Equal spacing between items */
  flex-wrap: wrap; /* Wrap items to new line if necessary */
  max-width: 900px; /* Limit width if needed */
}

.skill {
  padding: 10px 20px; /* Adjust padding as needed */
  margin: 10px; /* Adjust margin as needed */
  background-color: #ffffff; /* Background color for skill boxes */
  border-radius: 5px; /* Rounded corners for skill boxes */
}
/* My Education */

.education {
  display: flex;
  flex-direction: column;
}

.timeline {
  position: relative;
}

.event {
  position: relative;
  margin-bottom: 50px; /* Adjust based on the desired distance between each event */
}


.education .event {
  position: relative; /* Add position relative to allow absolute positioning of .icon */
  margin: 20px;
  width: calc(100% - 40px); /* Subtracting margin from total width */
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.education .event .icon {
  position: absolute;
  top: 10px; /* Adjust based on the desired distance from the top */
  left: 10px; /* Adjust based on the desired distance from the left */
  height: 50px;
  width: 50px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  transition: all 0.4s ease;
}

.content {
  margin-left: 40px; /* Adjust based on the desired distance between the circle and the content */
}

/* Additional styling */
h3 {
  margin: 0;
}

p {
  margin: 5px 0;
}

/* projects */
.projects {
  display: flex;
  flex-direction: column;
  background: #e1eef9;
  padding: 20px;
}
.project-details {
  width: 100%;
  padding: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adds vertical spacing between title, paragraph, and button */
  max-width: 60%; /* Adjust the width of the text section */
}

.topic {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}

.text-content p {
  margin: 0;
  line-height: 1.6;
  text-align: left;
}

.button {
  text-align: left;
}

.button button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button button:hover {
  background-color: #0056b3;
}

.image {
  max-width: 35%; /* Adjust the image section width */
  text-align: right;
}

.image img {
  max-width: 100%;
  height: auto;
}
@keyframes tilt {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.projects .project-details .icon i {
  position: absolute; /* Position the icon absolutely */
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  right: 10px; /* Adjust the distance from the right as needed */
  animation: tilt 0.5s infinite; /* Apply the animation to the icon */
}

.projects .project-details .button button{
  outline: none;
  padding: 10px 26px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
.projects .project-details .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}  

/* My Services CSS */
.services .boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services .boxes .box{
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}
.services .boxes .box:hover{
  background: #4070f4;
  color: #fff;
}
.services .boxes .box .icon{
  height: 50px;
  width: 50px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}
.boxes .box:hover .icon{
  background-color: #fff;
  color: #4070f4;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #0E2431;
  transition: all 0.4s ease;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #fff;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 60%;
  max-height: 60%;
  overflow: auto;
  position: relative; /* Added position relative */
}

#popup-image {
  max-width: 60%; /* Ensure the image fits within the popup content */
  max-height: 60%; /* Ensure the image fits within the popup content */
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  font-size: 24px;
}



/* Contact Me CSS */
.contact {
  background: #e1eef9;
}

.contact .content {
  margin: 0 auto;
  padding: 30px 0;
}

.contact .info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.contact .icon {
  color:#4070f4;
  margin-right: 5px; /* Adjust the margin as needed */
  margin-top: 5px; /* Adjust the margin-top for vertical alignment */
}

.contact .text {
  padding-left: 5px; /* Adjust the padding as needed */
}

.contact .icon i {
  font-size: 24px; /* Adjust the font size as needed */
  margin-right: 0px;
}


/* Footer CSS */
footer{
  background: #4070f4;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a{
  font-weight: 500;
  color: #FFF;
}
footer .text span a:hover{
  text-decoration: underline;
}
/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #4070f4;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 999;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: #ffffff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: #4070f4;
  }
  .navbar .media-icons a {
    color: #4070f4;
    font-size: 18px;
    margin: 0 28px 0 -8px;
    transition: transform 0.3s ease, color 0.3s ease; /* Adding transition effects */
    display: inline-block; /* Ensuring the anchor element behaves as a block element */
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: 100%;
  }

}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
  .skills-details .boxes .per{
    font-size: 50px;
    color: #4070f4;
  }
}








/* Reduce padding for mobile screens */
@media (max-width: 750px) {
  nav {
    padding: 16px 0;
  }
}

nav.sticky {
  background: #4070f4;
  padding: 13px 0;
}

nav .navbar {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

/* Adjust logo size for mobile screens */
nav .navbar .logo a {
  font-weight: 500;
  font-size: 28px;
  color: #4070f4;
}

/* Reduce logo size for mobile screens */
@media (max-width: 750px) {
  nav .navbar .logo a {
    font-size: 24px;
  }
}

nav.sticky .navbar .logo a {
  color: #fff;
}

/* Adjust menu button for mobile screens */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 20px;
  top: 18px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

/* Display menu button for mobile screens */
@media (max-width: 750px) {
  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }
}

nav .menu-btn {
  color: #4070f4;
}

nav.sticky .menu-btn {
  color: #fff;
}

.navbar .menu .menu-btn {
  color: #fff;
}




/* Responsive Media Query */
@media screen and (max-width: 750px) {
  .home {
    position: relative; /* Ensure positioning context for absolute positioning */
    height: 80vh;
    width: 100%;
    background: url("Images/portfolio2.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .home .home-content{
    width: 90%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home .text-two {
    font-size: 45px;
    margin-left: -1px;
  }
  
  .home .text-three {
    font-size: 30px;
  }
  
  .home .text-four {
    font-size: 16px;
  }
  
  .home .button button {
    font-size: 16px;
    padding: 8px 16px;
  }

  .overlay-image {
    position: absolute;
    top: 70%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%) scale(.11);
    filter: drop-shadow(16px 35px 39px #4b789c);
  }
}



@media screen and (max-width: 750px) {
  section .title span {
    font-size: 24px; /* Decrease font size for smaller screens */
  }

  section .topic {
    font-size: 20px; /* Decrease font size for smaller screens */
  }

  section .button button {
    font-size: 20px; /* Decrease font size for smaller screens */
  }

  .about .about-details .left{
    width: 50%;
    height: 50%;
  }
  .about .left img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 200px;
    object-fit: contain;
    border-radius: 12px;
    transform: translateY(-60px);
  }
  .left {
    width: 400px;
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  
  .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.9s ease, opacity 1.7s ease;
  }
  
  .left img.active {
    transform: translateY(-40px) scale(1.3);
  }

  .about-details .right{
    height: 100%;
  }

  .about-details .right p{
    font-size: 16px;
    margin-top: -60px;
    margin-bottom: 80px;
  }
}

  @media (max-width: 750px) {
    section .button button {
      padding: 8px 16px; /* Adjust padding for smaller screens */
      font-size: 16px; /* Adjust font size for smaller screens */
    }

}

@media screen and (max-width: 750px) {

  .skills {
    font-size: 16px;
  }
  
  .skill {
    padding: 8px 10px; /* Adjust padding as needed */
    margin: 8px; /* Adjust margin as needed */
    background-color: #ffffff; /* Background color for skill boxes */
    border-radius: 5px; /* Rounded corners for skill boxes */
  }

}

@media screen and (max-width: 600px) {

  .project-details {
    width: 100%;
    padding: 40px 40px; /* Adjust padding as needed */
    margin: 20px 0px; /* Adjust margin as needed */
    background-color: #ffffff; /* Background color for skill boxes */
    border-radius: 8px; /* Rounded corners for skill boxes */
    text-align: center;
  }
  .projects .project-details .project-para{
    width: 100%;
    margin:200px 0 auto;
    text-align: justify;
    color: #0E2431;
  }
  .animated-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    top:230px;
    right:100px;
    transform: scale(2);
  }
  .projects .project-details .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    top:370px;
    right:75px;
    transform: scale(5);
  }
  .projects .project-details .image {
    display: flex;
    justify-content: center;
    align-items: center;
    top:-260px;
    left:-260px;
    transform: scale(.2);
  } 

}

@media screen and (max-width: 750px) {
  
  .title{
    text-align: center;
  }
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    position: relative; /* Added position relative */
  }
  
  #popup-image {
    max-width: 90%; /* Ensure the image fits within the popup content */
    max-height: 90%; /* Ensure the image fits within the popup content */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
  }
}

@media screen and (max-width: 750px) {
  
  .contact .info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  .contact .icon {
    color:#4070f4;
    margin-right: 5px; /* Adjust the margin as needed */
    margin-top: 5px; /* Adjust the margin-top for vertical alignment */
  }
  
  .contact .text {
    justify-content: center;
  }
  
  .contact .icon i {
    font-size: 24px; /* Adjust the font size as needed */
  }
}
